@model DataLayer.Models.Customers

    <tr>
        <td>
            @Model.CustomerID
        </td>
        <td>
            @Model.FName
        </td>
        <td>
            @Model.LName
        </td>
        <td>
            @Model.EMail
        </td>
        <td>
            @Model.OrderAmount
        </td>
        <td>
            @Model.RoadName @Model.RoadNumber
        </td>
        <td>
            @Model.PostNumber @Model.City.Name
        </td>
    </tr>