@model DataLayer.Models.Products
<tr>
    <td>
        @Model.Name
    </td>
    <td>
        @Model.Category.Category
    </td>
    <td>
        @Model.Price
    </td>
    <td>
        @if (Model.VendorID.HasValue)
        {
            @Model.Vendor.Name
        }
    </td>
    <td>
        <a asp-page="./ProductDetail" asp-route-prodID="@Model.ProductID">
            <i class="fas fa-info-circle"></i>
        </a>
        <a asp-page="./EditProduct" asp-route-prodID="@Model.ProductID">
            <i class="fas fa-edit"></i>
        </a>
        <a asp-page="./Delete" asp-route-restaurantId="@Model.ProductID">
            <i class="fas fa-trash"></i>
        </a>
    </td>
</tr>