@page "{prodID:int?}"
@model WebApp.Areas.Admin.Pages.DetailModel
@{
}
<h2>@Model.Product.Name</h2>
<div>
    <img src="~/img/products/@Url.Content(Model.Product.SKU.ToString() + ".png")" class="img-fluid" />
</div>

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Product.ProductID)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Product.ProductID)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Product.SKU)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Product.SKU)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Product.Category.Category)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Product.Category.Category)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Product.Price)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Product.Price)
    </dd>
</dl>
<a asp-page="./Index" class="btn btn-info">Alle produkter</a>
<a asp-page="./EditProduct" asp-route-prodID="@Model.Product.ProductID" class="btn btn-outline-danger">Rediger produkt</a>
@section footer {
    @if (Model.Message != null)
    {
        <div class="alert alert-info">@Model.Message</div>
    }
}