@model DataLayer.Models.Products


<div class="col-sm-3">
    <div class="card my-3 ">
        <a class="text-decoration-none" asp-page="./Detail" asp-route-prodID="@Model.ProductID">
            <img class="card-img-top" src="~/img/products/@Url.Content(Model.SKU.ToString() + ".png")" />
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text">@Model.Category.Category</p>
                <p class="card-text">@Model.Price kr</p>
                @if (Model.VendorID.HasValue)
                {
                    <p class="card-text">@Model.Vendor.Name</p>
                }
            </div>
        </a>
        <div class="card-footer text-muted">
            <a class="btn btn-info" asp-page="./Detail" asp-route-prodID="@Model.ProductID">
                Se mere
                <i class="fas fa-info-circle"></i>
            </a>
            @*<a class="btn btn-success" onclick="checkout('@Model.Name')">
                Tilføj til kurv
                <i class="fas fa-shopping-basket"></i>
            </a>*@
        <a class="btn btn-success" asp-page-handler="Cart" asp-page="./Products" asp-route-name="@Model.Name">
            Tilføj til kurv
            <i class="fas fa-shopping-basket"></i>
        </a>
        </div>
    </div>
</div>