@page
@model WebApp.Pages.ProductsModel
@using ServiceLayer
@{
}
<form method="get" id="searchForm">
    <div class="input-group mb-3">
        <input type="search" asp-for="@Model.Search" class="form-control">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
    <label asp-for="prodOrderOption">Sorter på: </label>
    <select asp-for="prodOrderOption" asp-items="Html.GetEnumSelectList<ProductOrderOptions>()" class="accordion" onchange="searchForm.submit()"></select>
</form>
<div class="card-deck">
    @foreach (var prod in Model.Products)
    {
        <partial name="_ProductListing" model="prod" />
    }
</div>
<ul class="pagination">
    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        <li class="page-item @(i == Model.CurrPage ? "active" : "")">
            <a asp-page="./Index" class="page-link" asp-all-route-data="@(new Dictionary<string, string>{
        { "Search", "" },
        { "CurrPage", @i.ToString() },
        { "prodOrderOption", Model.prodOrderOption.ToString() }
            })">@i</a>
        </li>
    }
</ul>
@section footer {
    @if (Model.Message != null)
    {
        <div class="alert alert-info">@Model.Message</div>
    }
}